
body,h3,a{
    font-size:1em;
}

h1{
    font-size:1.4285em;
}

h2{
font-size:1.1428em;
}
 p,td,span{
     font-size:0.9285em;
 }
#zoomIn,#zoomOut{
    border-radius: .3rem;
    background-color:#f8b679;
    border-color: #e7901f;
    color:white;

}
.colMS {
    background-color:#f8b679 !important;
}

h1{
    color: black !important;
    font-family: serif !important;
}
.dashboard #header{ 
    background-color: #e7901f !important;
}

.module caption{
    background: #e7901f !important;
}

#container{
    background-color: #f8b679 !important ;
}


footer{
    background-color: #f8b679 !important ;
}

.object-tools .addlink{
    background-color: #e7901f !important;
}

#content-main a{
    color: black !important;
}
.breadcrumbs{
    background-color: #e7901f !important;

}
.app-authtoken #header{
    background-color: #e7901f !important;

}
#branding{
    display:inline-flex;
}
.required{
    font-size: 0.875em;
}
#id_username,#id_password{
    font-size: 1em;
}
#buttons_zoom{
    margin:auto;
}
.d-block{
    font-size: 1.36em;
}
#username,#password{
    font-size:1em;
}

#asistente_instalacion,#asistente_uso2 {
    width: 1000px;
}

#asistente_movil {
    width: 400px;
}

.btn-abrir-popup{
    padding: 0 20px;
	margin-bottom: 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: black;
	background: #e7901f;
	border-radius: 3px;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
    cursor: pointer;
    margin-left: 100 px;
}

/* POPUP */
.overlay {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
    right: 0;
    align-items: center;
	justify-content: center;
    display: flex;
    visibility: hidden;
    z-index: 2;
}
.overlay.active{
    visibility: visible;
}

.popup {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	padding: 20px;
	text-align: center;
    width: 600px;
}

.popup .btn-cerrar-popup{
    font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup .btn-cerrar-popup:hover {
	color: #000;
}
.closePopUp {
    float: right;
}
.popup h4 {
    color: #0a1b2b !important;
    font-family: serif !important;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
}

#footer {
    display: block;
    margin: auto;
}

#text-voice-assistants {
    margin: 40px;
}

#signInDiv {
    float:right;
}
#formSignUpDiv {
    align-content: center;
    border-radius: 10px;
    margin: 0 auto;
}
