// cabecera (administración)
#header {
    background-color: blueviolet;
}


body,h3,a{
    font-size:1em;
}

h1{
    font-size:1.4285em;
}

h2{
font-size:1.1428em;
}
 p,td,span{
     font-size:0.9285em;
 }

#zoomIn,#zoomOut{
    border-radius: .3rem;
    background-color:deepskyblue;
    border-color: deepskyblue;
    color:white;

}

.colMS {
    background-color:#b7dee4 !important;
}

h1{
    color: #0a1b2b !important;
    font-family: serif !important;
}
.dashboard #header{ 
    background-color: #185471 !important;
}

.module caption{
    background: #185471 !important;
}

#container{
    background-color: #b7dee4 !important ;
}


footer{
    background-color: #b7dee4 !important ;
}
html, body{
    background-color:#b7dee4 !important;
}
.login #container{
    background-color: whitesmoke !important;
}
.object-tools .addlink{
    background-color: #c0e22a !important;
}
#branding{
    display:inline-flex;
}
.required{
    font-size: 0.875em;
}
#id_username,#id_password{
    font-size: 1em;
}
#buttons_zoom{
    margin:auto;
}
.d-block{
    font-size: 1.36em;
}
#username,#password{
    font-size:1em;
}


//completar