//editar
#header {
    background-color: blueviolet;
}

body,h3,a{
    font-size:1em;
}

h1{
    font-size:1.4285em;
}

h2{
font-size:1.1428em;
}
 p,td,span{
     font-size:0.9285em;
 }

#zoomIn,#zoomOut{
    border-radius: .3rem;
    background-color:deepskyblue;
    border-color: deepskyblue;
    color:white;

}

.colMS {
    background-color:#b7dee4 !important;
}

h1{
    color: #0a1b2b !important;
    font-family: serif !important;
}
.dashboard #header{ 
    background-color: #185471 !important;
}

.module caption{
    background: #185471 !important;
}

#container{
    background-color: #b7dee4 !important ;
}


footer{
    background-color: #b7dee4 !important ;
}
html, body{
    background-color:#b7dee4 !important;
}
.login #container{
    background-color: whitesmoke !important;
}
.object-tools .addlink{
    background-color: #c0e22a !important;
}
#branding{
    display:inline-flex;
}
.required{
    font-size: 0.875em;
}
#id_username,#id_password{
    font-size: 1em;
}
#buttons_zoom{
    margin:auto;
}
.d-block{
    font-size: 1.36em;
}
#username,#password{
    font-size:1em;

#asistente_instalacion,#asistente_uso2 {
    width: 1000px;
}

#asistente_movil {
    width: 400px;
}

.btn-abrir-popup {
	padding: 0 20px;
	margin-bottom: 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #5E7DE3;
	border-radius: 3px;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
	cursor: pointer;
}

.overlay {
	background: rgba(0,0,0,.3) !important;
	position: fixed !important;
	top: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	right: 0 !important;
	align-items: center !important;
    justify-content: center !important;
    /*display: flex;
	visibility: hidden;*/
    
}
.overlay.is_active {
	visibility: visible;
}

.popuphelp{
    background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	padding: 20px;
	text-align: center;
	width: 600px;
	
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.btn-cerrar-popup{
    font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.btn-cerrar-popup:hover {
	color: #000 !important;
}





/*
ESTO FUE LO K AÑADIO MOISES AL ESTILO DE CABINA SIN QUERER. POR SI HACE FALTA

.choice-question {
    width: 100%;
}

.choice-question label {
    width: 100%;
}

.choice-question label.active {
    background-color: #03ad03!important;
} 

p{
    font-size: 1.25em;
}

label{

    font-size: 1.25em;
}

h1{
   font-size: 2.25em;
}
.navar-brand{
    font-size:1.25em;
}
.btn-lg{
    font-size: 1.25em;
}
.form-control{
    font-size: 1em;
}
#zoomIn,#zoomOut{
    border-radius: .3rem;
    background-color:deepskyblue;
    border-color: deepskyblue;
    color:white;

}
*/