// cabecera (administración)
#header {
    background-color: blueviolet;
}

.colMS {
    background-color:#b7e4cd !important;
}

h1{
    color: #0a1b2b !important;
    font-family: serif !important;
}
.dashboard #header{ 
    background-color: #185471 !important;
}

.module caption{
    background: #185471 !important;
}




#container{
    background-color: #b7e4cd !important ;
}

footer{
    background-color: #b7e4cd !important ;
}
html, body{
    background-color:#b7e4cd !important;
}
.login #container{
    background-color: whitesmoke !important;
}
//completar