{% extends "visualizer/visualizerBase.html" %}
{% load i18n static %}



{% block content %}
    <br id="app-visualizer">
        <h3>Listado de votaciones</h3>  
        <b>Buscar por nombre:
            <form action="" method="get">
            <input type="text" id="nombre" name="nombre">
            <input type="submit" value="Buscar"></form></b>
        <b>Filtrar por: <a href="/visualizer">Todas</a> <a href="?filter=A">Abiertas</a> <a href="?filter=F">Finalizadas</a> <a href="?filter=S">Sin empezar</a></b>
        <div class="voting container">
            <table style="width:100%">
                    <tr>
                        <th>ID</th>
                        <th>Nombre de la votacion</th>
                        <th>Estado</th>
                        <th>Enlace</th>
                    </tr>
            {% for voting in votings %}
                    <tr>
                        <td>{{ voting.id }}</td>
                        <td>{{ voting.name }}</td>
                        {% if voting.start_date == None %}
                            <td>Votacion no comenzada</td>
                        {% elif voting.end_date == None %}
                            <td>Votacion en curso</td>
                        {% else %}
                            <td>Votacion finalizada</td>
                        {% endif %}
                            <td><a href="{{ voting.id }}/functions">Visualizar graficos </a><a> / </a><a href="{{ voting.id }}/statistics"> Visualizar estadisticas</a> </td>
                    </tr>
            {% endfor %}
            </table>
        </div>
        {% if user == True %}
            </br></br><b>Como eres superusuario puedes ver todas las votaciones</b>
        {% else %}
            </br></br><b>Como no eres superusuario solo puedes ver las votaciones en las que estas censado</b>
        {% endif %}
        </div>
    </br></br><h5><a href="/visualizer/global"> Visualizar estadisticas globales</a></h5>
{% endblock %}

{% block extrabody %}
    <!-- Vuejs -->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

    <script>
        var voting = {{voting|safe}};
        var app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app-visualizer',
            data: {
                voting: voting
            }
        })
    </script>
</body>
{% endblock %}
