{% extends "visualizer/visualizerBase.html" %}
{% load i18n static %}

{% block content %}
<body>
    <main role="main">
    <section  class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">{{voting.name|safe}}</h1>
            <p>{{voting.desc|safe}}</p>
        </div>
    </section>
        <div class="container">
            <div v-if="voting.postproc">
                {% if postproc_type == 'EQUALITY' %}
                <div v-if="postproc_type == 'EQUALITY'" id="container">
                    <canvas id="genderGraph"></canvas>
                </div>
                <div >
                    <canvas id="genderCensusChart"></canvas>
                </div>
                {% elif postproc_type == 'IDENTITY' or postproc_type == 'BORDA'%}
                <div>
                    <canvas id="identityChart"></canvas>
                </div>
                {% else %}
                <div class="container">

                        <h1 class="text-center">Votes</h1>
                        <canvas id="pointsVotesChart"></canvas>

                    <h1 class="text-center">Tally</h1>
                    <canvas id="pointsPostprocChart"></canvas>

                </div>
                {% endif %}
            </div>
        </div>
        
    </main>

    
</body>

{% endblock %}

{% block extrabody %}
   
    <!--Chart.js-->
    <script>
        var ctx = document.getElementById('genderGraph').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: {{options|safe}},
                datasets: [
                    {
                        label: 'Men',
                        backgroundColor: 'rgb(173, 173, 173)',
                        borderColor: 'rgb(173, 173, 173)',
                        borderWidth: 1,
                        data: {{votes_men|safe}}
                    },
                    {
                        label: 'Women',
                        backgroundColor: 'rgb(99, 98, 98)',
                        borderColor: '(99, 98, 98)',
                        borderWidth: 1,
                        data: {{votes_women|safe}}
                    }
                ]
            },
            options: {
                responsive: true,
                maintainAspectRatio: true,
                legend: {
                    position: "top"
                },
                title: {
                    display: true,
                    fontSize: 25,
                    padding: 20,
                    text: "Number of votes according to gender and options"
                },
                scales: {
                    yAxes: [{
                        ticks: {
                        beginAtZero: true,
                        stepSize: 1
                        }
                    }]
                },
                layout: {
                    padding: {
                        left: 50,
                        right: 0,
                        top: 70,
                        bottom: 70
                    }
                }
            }
        });
    </script>

    <script>
        var ctx = document.getElementById('genderCensusChart').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: [
                    'Men',
                    'Women'
                ],
                datasets: [{
                    backgroundColor: [
                        'rgb(173, 173, 173)',
                        'rgb(99, 98, 98)',
                    ],
                    borderColor: [
                        'rgb(173, 173, 173)',
                        'rgb(99, 98, 98)',
                    ],
                    borderWidth: 1,
                    data: {{gender_census|safe}}
                }]
                
            },
            options: {
                responsive: true,
                maintainAspectRatio: true,
                legend: {
                    position: "right"
                },
                rotation: 1 * Math.PI,
                circumference: 1 * Math.PI,
                title: {
                    display: true,
                    fontSize: 25,
                    padding: 20,
                    text: "Census according to gender"
                },
                layout: {
                    padding: {
                        left: 50,
                        right: 0,
                        top: 70,
                        bottom: 70
                    }
                }
            }
        });
    </script>

    <script>
        window.onload = function() {
            var ctx = document.getElementById('identityChart').getContext('2d');
            var chart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: {{labels|safe}},
                    datasets:[{
                        label: 'Resultados',
                        backgroundColor: ['black', 'grey', 'brown'],
                        borderColor: 'black',
                        data: {{data|safe}}
                    }]
                },
                options: {
                    responsive: true
                }
            });
        };

    </script>


    <script>
            var pointsPostprocChart = document.getElementById('pointsPostprocChart').getContext('2d');
            var pointsVotesChart = document.getElementById('pointsVotesChart').getContext('2d');

            var chart = new Chart(pointsPostprocChart, {
                type: 'pie',
                data: {
                    labels: {{labels|safe}},
                    datasets:[{
                        label: 'Tally',
                        backgroundColor: ['black', 'grey', 'brown'],
                        borderColor: 'black',
                        data: {{postproc|safe}}
                    }]
                },
                options: {
                    responsive: true
                }
            });
            var chart = new Chart(pointsVotesChart, {
                type: 'pie',
                data: {
                    labels: {{labels|safe}},
                    datasets:[{
                        label: 'Votes',
                        backgroundColor: ['black', 'grey', 'brown'],
                        borderColor: 'black',
                        data: {{votes|safe}}
                    }]
                },
                options: {
                    responsive: true
                }
            });
    </script>

    <script>
            var ctx = document.getElementById('pointsVotesChart').getContext('2d');
            var chart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: {{labels|safe}},
                    datasets:[{
                        label: 'Votes',
                        backgroundColor: ['black', 'grey', 'brown'],
                        borderColor: 'black',
                        data: {{votes|safe}}
                    }]
                },
                options: {
                    responsive: true
                }
            });
    </script>

{% endblock %}