{% load i18n static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
        <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
        <link type="text/css" rel="stylesheet" href="{% static 'booth/style.css' %}" />
        <link type="text/css" rel="stylesheet" href="{% static 'booth/deuteranopia_protanopia.css' %}" />
        <link type="text/css" rel="stylesheet" href="{% static 'booth/tritanopia.css' %}" />
        
    </head>
    <body id="html-body">
        <div id="app-booth">
            <div class="pb-5 body" v-bind:class="{dp: csspd, trit: csstrit}">
                <!-- Navbar -->
                <b-navbar v-bind:class="{dp: csspd, trit: csstrit}" type="dark" variant="primary" toggleable="lg">
                    <b-navbar-brand v-bind:class="{dp: csspd, trit: csstrit}" tag="h1">Decide</b-navbar-brand>
                    <b-navbar-toggle aria-describedby="optionMenu" target="nav-collapse"></b-navbar-toggle>
                    <div id="optionMenu" style="display: none">Menú de opciones. Pulsando aparece el desplegable con los tipos de visualización para daltónicos y el botón de cierre de sesión</div>
                    <b-collapse id="nav-collapse" is-nav>
                        <b-navbar-nav class="ml-auto" >
                                <div class="btn-group" data-toggle="buttons">
                                    <b-nav-item-dropdown aria-labelledby="daltHelp" text="Tipo de visualización" class="mr-5" v-bind:class="{dp: csspd, trit: csstrit}" right>
                                        <b-dropdown-item class="di-visualizacion" v-bind:class="{dp: csspd, trit: csstrit}" @click="change_css(true,false)">Deuteranopia y protanopia</b-dropdown-item>
                                        <b-dropdown-item class="di-visualizacion" v-bind:class="{dp: csspd, trit: csstrit}" @click="change_css(false,true)">Tritanopia</b-dropdown-item>
                                        <b-dropdown-item class="di-visualizacion" v-bind:class="{dp: csspd, trit: csstrit}" @click="change_css(false,false)">Normal</b-dropdown-item>
                                    </b-nav-item-dropdown>
                                    <div id="daltHelp" style="display: none">Menú desplegable con las opciones de visualización adaptables a personas con daltonismo</div>
                                </div>
                        </b-navbar-nav>
                        {% block logout %}{% endblock %}
                    </b-collapse>
                </b-navbar>
        
                <b-alert aria-labelledby="alertMsg" v-bind:class="{dp: csspd, trit: csstrit}" :variant="alertLvl" dismissible v-model="alertShow">
                    [[ alertMsg ]]
                    <div id="alertMsg" style="display: none">Mensaje de alerta lanzado por la ocurrencia de un error</div>
                </b-alert>
                
                <div class="container-fluid pt-5 mt-xl-4">
                    <div class="row">
                        <div class="col-md-8 offset-md-2 text-center">
                            {% block content %}{% endblock %}
                        </div>
                    </div>
                </div>  
            </div>
        </div>
        
        <!-- needed to generate big random -->
        <script src="{% static "crypto/sjcl.js" %}"></script>
        
        <!-- Big integer -->
        <script src="{% static "crypto/jsbn.js" %}"></script>
        <script src="{% static "crypto/jsbn2.js" %}"></script>
        <script src="{% static "crypto/bigint.js" %}"></script>
        
        <!-- ElGamal encrypt -->
        <script src="{% static "crypto/elgamal.js" %}"></script>
        
        <!-- Vuejs -->
        <script src="https://unpkg.com/vue"></script>
        <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
        <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
        {% block extrabody %}{% endblock %}
    </body>
</html>