{% load i18n static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
        <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
        {% if d_p %}
            <link type="text/css" rel="stylesheet" href="{% static 'booth/deuteranopia_protanopia.css' %}" />
        {% elif tr %}
            <link type="text/css" rel="stylesheet" href="{% static 'booth/tritanopia.css' %}" />
        {% else %}
            <link type="text/css" rel="stylesheet" href="{% static 'booth/style.css' %}" />
        {% endif %}
        
    </head>
    <body>
        <div id="app-booth">
            <!-- Navbar -->
            <b-navbar type="dark" variant="primary" toggleable="lg">
                <b-navbar-brand tag="h1">Decide</b-navbar-brand>
                <b-nav-text class="d-lg-none">Menú de opciones</b-nav-text>
                <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
                <b-collapse id="nav-collapse" is-nav>
                    <b-navbar-nav class="ml-auto" >
                        <b-nav-item-dropdown text="Tipo de visualización" class="mr-5" right>
                            <div class="btn-group" data-toggle="buttons">
                                <form class="btn-group-vertical form-daltonismo" action="{% url 'change_style' %}" method="post">
                                    {% csrf_token %}
                                        <label class="btn btn-dark radio-dalt">
                                            <input class="input-dalt" type="radio" name="votacion" value="{{votacion_id}}-deuter_prot" {% if d_p %} checked {% endif %}>
                                        Deuteranopía - Protanopía</label>
                                        <label class="btn btn-dark radio-dalt">
                                            <input class="input-dalt" type="radio" name="votacion" value="{{votacion_id}}-trit" {% if tr %} checked {% endif %}>
                                        Tritanopía</label>
                                        <label class="btn btn-dark radio-dalt">
                                            <input class="input-dalt" type="radio" name="votacion" value="{{votacion_id}}-normal" {% if not d_p and not tr %} checked {% endif %}>
                                        Normal</label>
                                        <label class="btn btn-warning submit-dalt">
                                            <input type="submit" value="Cambiar" hidden>Cambiar
                                        </label>    
                                </form>
                            </div>
                        </b-nav-item-dropdown>
                    </b-navbar-nav>
                    <b-button v-if="!signup" variant="danger" class="btn btn-white mt-3 mt-lg-0" href="#" v-on:click="decideLogout">
                        {% trans "Logout" %}
                    </b-button>
                </b-collapse>
            </b-navbar>
    
            <b-alert :variant="alertLvl" dismissible v-model="alertShow">
                [[ alertMsg ]]
            </b-alert>
            
            <div class="container-fluid pt-5 mt-xl-4">
                <div class="row">
                    <div class="col-md-8 offset-md-2 text-center">
                        <h1>[[ voting.name ]]</h1>
                        <p class="lead">[[voting.desc]]</p>
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </body>
    {% block extrabody %}{% endblock %}
</html>