{% load i18n static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
        <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
        <link type="text/css" rel="stylesheet" href="{% static 'booth/style.css' %}" />
    </head>
    <body>
        <div id="app-booth">
            <!-- Navbar -->
            <b-navbar type="dark" variant="primary">
                <b-navbar-brand tag="h1">Decide</b-navbar-brand>
                    <b-navbar-nav class="ml-auto">
                        <b-button v-if="!signup" variant="danger" href="#" v-on:click="decideLogout">
                            {% trans "Logout" %}
                        </b-button>
                        <b-button variant="danger" href="{% url 'login' %}" v-if="cp_button">
                            Panel de control
                        </b-button>
                    </b-navbar-nav>
            </b-navbar>
    
            <b-alert :variant="alertLvl" dismissible v-model="alertShow">
                [[ alertMsg ]]
            </b-alert>
            
            <div class="container-fluid pt-5 mt-xl-4">
                <div class="row">
                    <div class="col-md-8 offset-md-2 text-center">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </body>
    {% block extrabody %}{% endblock %}
</html>