{% extends "booth/base.html" %}
{% load i18n static %}

{% block content %}
<!-- Voting -->
<div v-if="!token">
    <p>Debe loguearse en la cabina para poder acceder a sus votaciones</p>
    <a href="{% url 'login' %}"> LOGIN </a>
</div>
<div v-if="token">
    <h1>[[ voting.name ]]</h1>
    <p class="lead">[[voting.desc]]</p>
    <div class="row py-3 py-xl-5">
        <div class="col-12 col-xl-5 offset-xl-1 pb-2">
            <h3>[[ voting.question.desc ]]</h3>
            <p class="text-justify pt-1">La opción elegida para realizar la votación aparece resaltada en color verde. Pulse el botón "Votar" para confirmar su selección y efectuar el voto.</p>
        </div>
        <div class="col-10 offset-1 col-sm-8 offset-sm-2 col-xl-4 offset-xl-1">
            <b-form-group v-for="opt in voting.question.options" :key="opt.number">
                <b-form-radio v-model="selected"
                            :id="'q' + opt.number"
                            class="choice-question pb-3"
                            name="question"
                            button
                            size="lg"
                            :value="opt.number">
                    [[ opt.option ]]
                </b-form-radio>
            </b-form-group>
        </div>
    </div>
    <div class="row">
        <div class="col-6 offset-3 col-sm-4 offset-sm-4 col-xl-2 offset-xl-5">
            <b-button block type="button" variant="primary" size="lg" v-on:click="decideSend">
                {% trans "Votar" %}
            </b-button>
        </div>
    </div>
</div>
{% endblock %}

{% block extrabody %}
    <!-- needed to generate big random -->
    <script src="{% static "crypto/sjcl.js" %}"></script>

    <!-- Big integer -->
    <script src="{% static "crypto/jsbn.js" %}"></script>
    <script src="{% static "crypto/jsbn2.js" %}"></script>
    <script src="{% static "crypto/bigint.js" %}"></script>

    <!-- ElGamal encrypt -->
    <script src="{% static "crypto/elgamal.js" %}"></script>

    <!-- Vuejs -->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

    <script>
        var voting = {{voting|safe}};
        var app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app-booth',
            data: {
                keybits: {{ KEYBITS }},
                voting: voting,
                selected: "",
                signup: true,
                cp_button: true,
                alertShow: false,
                alertMsg: "",
                alertLvl: "info",
                token: null,
                user: null,
                form: {
                    username: '',
                    password: ''
                },
                bigpk: {
                    p: BigInt.fromJSONObject(voting.pub_key.p.toString()),
                    g: BigInt.fromJSONObject(voting.pub_key.g.toString()),
                    y: BigInt.fromJSONObject(voting.pub_key.y.toString()),
                }
            },
            beforeMount() {
                this.init()
                ElGamal.BITS = this.keybits;
            },
            methods: {
                init() {
                    var cookies = document.cookie.split("; ");
                    cookies.forEach((c) => {
                        var cs = c.split("=");
                        if (cs[0] == 'decide' && cs[1]) {
                            this.token = cs[1];
                            this.getUser();
                        }
                    });
                },
                postData(url, data) {
                    // Default options are marked with *
                    var fdata = {
                        body: JSON.stringify(data),
                        headers: {
                            'content-type': 'application/json',
                        },
                        method: 'POST',
                    };

                    if (this.token) {
                        fdata.headers['Authorization'] = 'Token ' + this.token;
                    }

                    return fetch(url, fdata)
                        .then(response => {
                            if (response.status === 200) {
                                return response.json();
                            } else {
                                return Promise.reject(response.statusText);
                            }
                        });
                },
                getUser(evt) {
                    var data = {token: this.token};
                    this.postData("{% url "gateway" "authentication" "/getuser/" %}", data)
                        .then(data => {
                            this.user = data;
                        }).catch(error => {
                            this.showAlert("danger", '{% trans "Error: " %}' + error);
                        });
                },
                decideEncrypt() {
                    var bigmsg = BigInt.fromJSONObject(this.selected.toString());
                    var cipher = ElGamal.encrypt(this.bigpk, bigmsg);
                    return cipher;
                },
                decideSend(evt) {
                    evt.preventDefault();
                    var v = this.decideEncrypt();
                    var data = {
                        vote: {a: v.alpha.toString(), b: v.beta.toString()},
                        voting: this.voting.id,
                        voter: this.user.id,
                        token: this.token
                    }
                    this.postData("{% url "gateway" "store" "/" %}", data)
                        .then(data => {
                            this.showAlert("success", '{% trans "Conglatulations. Your vote has been sent" %}');
                        })
                        .catch(error => {
                            this.showAlert("danger", '{% trans "Error: " %}' + error);
                        });
                },
                showAlert(lvl, msg) {
                    this.alertLvl = lvl;
                    this.alertMsg = msg;
                    this.alertShow = true;
                }
            },
        })
    </script>
</body>
{% endblock %}
