{% extends "booth/base.html" %}
{% load i18n static %}

{% block logout %}
<a class="btn btn-danger" href="{% url 'dashboard' %}">Salir de la votación</a>
{% endblock %}

{% block content %}
{% if voted %}
<p class="lead">Usted ya ha votado</p>
{% else %}
<div class="row py-3 py-xl-5">
    <div class="col-12 pb-2">
        <h1>[[ voting.name ]]</h1>
        <p class="lead">[[ voting.desc ]]</p>
        <h3>[[ voting.question.desc ]]</h3>
        <p class="text-center py-1">La opción elegida aparece señalada entre dos flechas. Pulse el botón "Votar" para confirmar su selección y efectuar el voto.</p>
        <b-form-group class="col-10 offset-1 col-sm-8 offset-sm-2 col-xl-4 offset-xl-4" v-for="opt in voting.question.options" :key="opt.number">
            <b-form-radio v-model="selected"
                        :id="'q' + opt.number"
                        class="choice-question pb-3"
                        v-bind:class="{dp: csspd, trit: csstrit}"
                        name="question"
                        button
                        size="lg"
                        :value="opt.number">
                [[ opt.option ]]
            </b-form-radio>
        </b-form-group>
        <b-button class="mb-5 col-6 offset-3 col-sm-4 offset-sm-4 col-xl-2 offset-xl-5 btn-white" v-bind:class="{dp: csspd, trit: csstrit}" block type="button" variant="primary" size="lg" href="#" v-on:click="decideSend">
            {% trans "Votar" %}
        </b-button>
    </div>
</div>
<div class="row">
    <div class="mb-5 col-6 offset-3"></div>
</div>
</div>
</div>
{% endif %}
{% endblock %}

{% block extrabody %}
<script>
    var voting = {{voting|safe}};
    var user = {{voter|safe}};
    var token = {{token|safe}};
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app-booth',
        data: {
            keybits: {{ KEYBITS }},
            voting: voting,
            selected: "",
            alertShow: false,
            alertMsg: "",
            alertLvl: "info",
            token: token,
            user: user,
            bigpk: {
                p: BigInt.fromJSONObject(voting.pub_key.p.toString()),
                g: BigInt.fromJSONObject(voting.pub_key.g.toString()),
                y: BigInt.fromJSONObject(voting.pub_key.y.toString()),
            },
            csspd: false,
            csstrit: false
        },
        beforeMount() {
            this.checkDaltCookie();
            console.log(document.cookie)
            ElGamal.BITS = this.keybits;
        },
        methods: {
            checkDaltCookie() {
                console.log(document.cookie)
                var cookies = document.cookie.split("; ");
                cookies.forEach((c) => {
                    var cs = c.split("=");
                    if (cs[0] == 'cssMode' && cs[1]) {
                        if (cs[1] == 'pd') {
                            this.csspd = true;
                            this.csstrit = false;
                        } else if (cs[1] == 'trit') {
                            this.csspd = false;
                            this.csstrit = true;
                        }
                    }
                });
            },
            change_css(v1,v2) {
                if (v1 & !v2) {
                    this.csspd = true;
                    this.csstrit = false;
                    document.cookie = 'cssMode=pd; path=/;';
                } else if (!v1 & v2) {
                    this.csspd = false;
                    this.csstrit = true;
                    document.cookie = 'cssMode=trit; path=/;';
                } else {
                    this.csspd = false;
                    this.csstrit = false;
                    document.cookie = 'cssMode=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;';
                }
            },
            postData(url, data) {
                // Default options are marked with *
                var fdata = {
                    body: JSON.stringify(data),
                    headers: {
                        'content-type': 'application/json',
                    },
                    method: 'POST',
                };

                if (this.token) {
                    fdata.headers['Authorization'] = 'Token ' + this.token;
                }

                return fetch(url, fdata)
                    .then(response => {
                        if (response.status === 200) {
                            return response.json();
                        } else {
                            return Promise.reject(response.statusText);
                        }
                    });
            },
            decideEncrypt() {
                var bigmsg = BigInt.fromJSONObject(this.selected.toString());
                var cipher = ElGamal.encrypt(this.bigpk, bigmsg);
                return cipher;
            },
            decideSend(evt) {
                evt.preventDefault();
                var v = this.decideEncrypt();
                var data = {
                    vote: {a: v.alpha.toString(), b: v.beta.toString()},
                    voting: this.voting.id,
                    voter: this.user.id,
                    token: this.token
                }
                this.postData("{% url "gateway" "store" "/" %}", data)
                    .then(data => {
                        this.showAlert("success", '{% trans "Enhorabuena. Tu voto ha sido enviado" %}');
                    })
                    .catch(error => {
                        this.showAlert("danger", '{% trans "Error: " %}' + error);
                    });
            },
            showAlert(lvl, msg) {
                this.alertLvl = lvl;
                this.alertMsg = msg;
                this.alertShow = true;
            }
        },
    })
</script>
{% endblock %}
