{% extends "booth/base.html" %}
{% load i18n static %}

{% block content %}
<!-- Register -->
<b-form @submit="onSubmitLogin" v-if="signup">
    <div class="row pt-5">
        <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-4">
            <b-form-group class="text-justify" label="{% trans "Username" %}" label-for="username">
                <b-form-input
                    id="username"
                    type="text"
                    v-model="form.username"
                    autocomplete="username"
                    required />
            </b-form-group>
            <b-form-group class="text-justify" label="{% trans "Password" %}" label-for="password">
                <b-form-input
                    id="password"
                    type="password"
                    autocomplete="current-password"
                    v-model="form.password"
                    required />
            </b-form-group>
            <b-button class="mt-3 btn-login" type="submit" variant="primary" size="lg">{% trans "Login" %}</b-button>
        </div>
    </div>
</b-form>

<!-- Voting -->
<div v-if="!signup">
    <div class="row py-3 py-xl-5">
        <div class="col-12 pb-2">
            <h3>[[ voting.question.desc ]]</h3>
            {% if multiple_option %}
                <p class="text-center py-1">La opción elegida aparece señalada entre dos flechas. Pulse el botón "Enviar" para confirmar su selección y efectuar el voto.</p>
                <b-form-group class="col-10 offset-1 col-sm-8 offset-sm-2 col-xl-4 offset-xl-4" v-for="opt in voting.question.options" :key="opt.number">
                    <b-form-checkbox v-model="selected"
                                :id="'q' + opt.number"
                                class="choice-question pb-3"
                                name="question"
                                button
                                size="lg"
                                :value="opt.number">
                        [[ opt.option ]]
                    </b-form-checkbox>
                </b-form-group>
                [[ selected ]]
                <b-button class="mb-5 col-6 offset-3 col-sm-4 offset-sm-4 col-xl-2 offset-xl-5 btn-white" block type="button" variant="primary" size="lg" href="#" v-on:click="decideSend">
                    {% trans "Enviar" %}
                </b-button>
            {% elif rank_order_scale %}
                <p class="text-center pt-1">Seleccione todas las opciones en orden de preferencia de mayor a menor. El orden seleccionado aparece en la parte inferior en forma de lista.</p>
                <p class="text-center pb-1">Pulse el botón "Enviar" para confirmar su selección y efectuar el voto.</p>
                <b-form-group class="col-10 offset-1 col-sm-8 offset-sm-2 col-xl-4 offset-xl-4" v-for="opt in voting.question.options" :key="opt.number">
                    <b-form-checkbox v-model="selected"
                                    :id="'q' + opt.number"
                                    class="choice-question pb-3"
                                    name="question"
                                    button
                                    size="lg"
                                    :value="opt.number">
                            [[ opt.option ]]
                        </b-form-checkbox>
                </b-form-group>
                <div class="pb-3 col-10 offset-1 col-sm-8 offset-sm-2 col-xl-4 offset-xl-4">
                    <h3 v-if="selected.length > 0">El orden seleccionado es:</h3> 
                    <h4>
                        <ol>
                            <li class="py-2" v-for="opt in selected">
                                [[ voting.question.options[opt-1].option ]]
                            </li>
                        </ol>
                    </h4>
                </div>
                <b-button v-if="selected.length == voting.question.options.length" class="mb-5 col-6 offset-3 col-sm-4 offset-sm-4 col-xl-2 offset-xl-5 btn-white" block type="button" variant="primary" size="lg" href="#" v-on:click="decideSend">
                    {% trans "Enviar" %}
                </b-button>
            {% else %}
            <p class="text-center py-1">La opción elegida aparece señalada entre dos flechas. Pulse el botón "Enviar" para confirmar su selección y efectuar el voto.</p>
            <b-form-group class="col-10 offset-1 col-sm-8 offset-sm-2 col-xl-4 offset-xl-4" v-for="opt in voting.question.options" :key="opt.number">
                    <b-form-radio v-model="selected"
                                :id="'q' + opt.number"
                                class="choice-question pb-3"
                                name="question"
                                button
                                size="lg"
                                :value="opt.number">
                        [[ opt.option ]]
                    </b-form-radio>
                </b-form-group>
                <b-button class="mb-5 col-6 offset-3 col-sm-4 offset-sm-4 col-xl-2 offset-xl-5 btn-white" block type="button" variant="primary" size="lg" href="#" v-on:click="decideSend">
                    {% trans "Enviar" %}
                </b-button>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="mb-5 col-6 offset-3"></div>
    </div>
</div>
</div>
</div>
{% endblock %}

{% block extrabody %}
    <!-- needed to generate big random -->
    <script src="{% static "crypto/sjcl.js" %}"></script>

    <!-- Big integer -->
    <script src="{% static "crypto/jsbn.js" %}"></script>
    <script src="{% static "crypto/jsbn2.js" %}"></script>
    <script src="{% static "crypto/bigint.js" %}"></script>

    <!-- ElGamal encrypt -->
    <script src="{% static "crypto/elgamal.js" %}"></script>

    <!-- Vuejs -->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

    <script>
        var voting = {{voting|safe}};
        var app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app-booth',
            data: {
                keybits: {{ KEYBITS }},
                voting: voting,
                selected: [],
                signup: true,
                alertShow: false,
                alertMsg: "",
                alertLvl: "info",
                token: null,
                user: null,
                form: {
                    username: '',
                    password: ''
                },
                bigpk: {
                    p: BigInt.fromJSONObject(voting.pub_key.p.toString()),
                    g: BigInt.fromJSONObject(voting.pub_key.g.toString()),
                    y: BigInt.fromJSONObject(voting.pub_key.y.toString()),
                }
            },
            beforeMount() {
                this.init()
                ElGamal.BITS = this.keybits;
            },
            methods: {
                init() {
                    var cookies = document.cookie.split("; ");
                    cookies.forEach((c) => {
                        var cs = c.split("=");
                        if (cs[0] == 'decide' && cs[1]) {
                            this.token = cs[1];
                            this.getUser();
                        }
                    });
                },
                postData(url, data) {
                    // Default options are marked with *
                    var fdata = {
                        body: JSON.stringify(data),
                        headers: {
                            'content-type': 'application/json',
                        },
                        method: 'POST',
                    };

                    if (this.token) {
                        fdata.headers['Authorization'] = 'Token ' + this.token;
                    }

                    return fetch(url, fdata)
                        .then(response => {
                            if (response.status === 200) {
                                return response.json();
                            } else {
                                return Promise.reject(response.statusText);
                            }
                        });
                },
                onSubmitLogin(evt) {
                    evt.preventDefault();
                    this.postData("{% url "gateway" "authentication" "/login/" %}", this.form)
                        .then(data => {
                            document.cookie = 'decide='+data.token+';';
                            this.token = data.token;
                            this.getUser();
                        })
                        .catch(error => {
                            this.showAlert("danger", '{% trans "Error: " %}' + error);
                        });
                },
                getUser(evt) {
                    var data = {token: this.token};
                    this.postData("{% url "gateway" "authentication" "/getuser/" %}", data)
                        .then(data => {
                            this.user = data;
                            this.signup = false;
                        }).catch(error => {
                            this.showAlert("danger", '{% trans "Error: " %}' + error);
                        });
                },
                decideLogout(evt) {
                    evt.preventDefault();
                    var data = {token: this.token};
                    this.postData("{% url "gateway" "authentication" "/logout/" %}", data);
                    this.token = null;
                    this.user = null;
                    document.cookie = 'decide=;';
                    this.signup = true;
                },
                decideEncrypt() {
                    var cipher = [];
                    console.log(this.selected);
                    if (this.selected != []){
                        for(let i =0; i<this.selected.length;i++){
                            var voto = this.selected[i];
                            var bigmsg = BigInt.fromJSONObject(voto.toString());
                            var element = ElGamal.encrypt(this.bigpk, bigmsg);
                            cipher.push(element);
                        }
                    }
                    return cipher;
                    
                },
                decideSend(evt) {
                    evt.preventDefault();
                    var v = this.decideEncrypt();
                    console.log(v);
                    var votos = {};
                    for(let i =0; i<v.length;i++){ 
                        votos.push(v[i]);
                    }
                    console.log(votos);
                    var data = {
                        vote: {a: v.alpha.toString(), b: v.beta.toString()},
                        voting: this.voting.id,
                        voter: this.user.id,
                        token: this.token
                    }
                    this.postData("{% url "gateway" "store" "/" %}", data)
                        .then(data => {
                            this.showAlert("success", '{% trans "Conglatulations. Your vote has been sent" %}');
                        })
                        .catch(error => {
                            this.showAlert("danger", '{% trans "Error: " %}' + error);
                        });
                },
                showAlert(lvl, msg) {
                    this.alertLvl = lvl;
                    this.alertMsg = msg;
                    this.alertShow = true;
                }
            },
        })
    </script>
</body>
{% endblock %}
