{% extends "booth/base.html" %}
{% load i18n static %}

{% block content %}
{% if no_censo %}
    <p>No has sido añadido al censo de alguna votación</p>
{% else %}
    <h2>Votaciones disponibles:</h2>
    {% for votacion in vot_dis %}
        <ul style="list-style-type:none;">
            <a href="{% url 'votacion' votacion.id user_id%}"><li>{{votacion.name}}</li></a>
        </ul>    
    {% endfor %}
    {% if no_vot_dis %}
        <p>No tiene votaciones disponibles</p>
    {% endif %}
    <h2>Votaciones pendientes de resultados:</h2>
    {% for votacion in vot_pen %}
        <ul style="list-style-type:none;">
            <a href="{% url 'votacion' votacion.id user_id%}"><li>{{votacion.name}}</li></a>
        </ul>    
    {% endfor %}
    {% if no_vot_pen %}
        <p>No tiene votaciones pendientes</p>
    {% endif %}
{% endif %}
{% endblock %}

{% block extrabody %}
    <!-- needed to generate big random -->
    <script src="{% static "crypto/sjcl.js" %}"></script>

    <!-- Big integer -->
    <script src="{% static "crypto/jsbn.js" %}"></script>
    <script src="{% static "crypto/jsbn2.js" %}"></script>
    <script src="{% static "crypto/bigint.js" %}"></script>

    <!-- ElGamal encrypt -->
    <script src="{% static "crypto/elgamal.js" %}"></script>

    <!-- Vuejs -->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

    <script>
        var app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app-booth',
            data: {
                signup: true,
                cp_button: true,
                alertShow: false,
                alertMsg: "",
                alertLvl: "info",
                token: null,
                user: null,
            },
            methods: {
                showAlert(lvl, msg) {
                    this.alertLvl = lvl;
                    this.alertMsg = msg;
                    this.alertShow = true;
                }
            },
        })
    </script>
</body>
{% endblock %}
