{% extends "booth/base.html" %}
{% load i18n static %}

{% block logout %}
<a class="btn btn-danger" href="{% url 'logout' %}">Cerrar Sesión</a>
{% endblock %}

{% block content %}
{% if no_censo %}
    <p>No has sido añadido al censo de alguna votación</p>
{% else %}
    <h2>Votaciones disponibles:</h2>
    {% for votacion in vot_dis %}
        <ul style="list-style-type:none;">
            <a href="{% url 'votacion' votacion.id %}"><li>{{votacion.name}}</li></a>
        </ul>    
    {% endfor %}
    {% if no_vot_dis %}
        <p>No tiene votaciones disponibles</p>
    {% endif %}
    <h2>Votaciones por meses:</h2>
    <div id="container" style="width: 75%;">
        <canvas id="pie-chart"></canvas>
    </div>
{% endif %}
{% endblock %}

{% block extrabody %}

<script>
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app-booth',
        data: {
            alertShow: false,
            alertMsg: "",
            alertLvl: "info",
            csspd: false,
            csstrit: false
        },
        methods: {
            change_css(v1,v2) {
                if (v1 & !v2) {
                    this.csspd = true;
                    this.csstrit = false;
                    document.body.style.backgroundColor = black;
                } else if (!v1 & v2) {
                    this.csspd = false;
                    this.csstrit = true;
                    document.body.style.backgroundColor = black;
                } else {
                    this.csspd = false;
                    this.csstrit = false;
                    document.body.style.backgroundColor = white;
                }
            },
            showAlert(lvl, msg) {
                this.alertLvl = lvl;
                this.alertMsg = msg;
                this.alertShow = true;
            }
        }
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>

    var config = {
      type: 'pie',
      data: {
        datasets: [{
          data:{{votaciones_por_meses}},
          backgroundColor: [ '#808080'],
          label: 'Population'
        }],
        labels: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']
      },
      options: {
        responsive: true
      }
    };

    window.onload = function() {
      var ctx = document.getElementById('pie-chart').getContext('2d');
      window.myPie = new Chart(ctx, config);
    };

  </script>
{% endblock %}