{% extends "booth/base.html" %}
{% load i18n static %}

{% block content %}
    <h1>LOGIN</h1>
    {% if no_user %}
    <p>El usuario no está registrado en el sistema</p>
    {% else %}
    <form action="{% url 'dashboard' %}" method="POST">
        {% csrf_token %}
        <label for="username">Username</label>
        <input name="username" type="username" id="username">
        <label for="password">Password</label>
        <input name="password" type="password" id="password">
        <button type="submit" class="btn btn-primary">Entrar</button>
    </form>
    {% endif%}
{% endblock %}