{% extends "decide/base.html" %}
{% load i18n static %}

{% block content %}
<b-form @submit="onSubmitModify">


    <b-form-group id="input-group-1" label="Username" label-for="input-1">
        <b-form-input id="input-1" v-model="formModify.username"  required></b-form-input>
    </b-form-group>

    <b-form-group id="input-group-2" label="Email" label-for="input-2">
        <b-form-input id="input-2" v-model="formModify.email" type="email" placeholder="Enter email" required>
        </b-form-input>
    </b-form-group>

    </b-form-group>
    </b-form-group>
    <b-form-group id="input-group-3" label="Style" v-slot="{ ariaDescribedby }">
        {% for style in user_styles %}
        <b-form-radio v-model="formModify.style" :aria-describedby="ariaDescribedby" name="style"
            value="{% trans style.0 %}">{% trans style.1 %}</b-form-radio>
        {% endfor %}
    </b-form-group>

    <b-form-group id="input-group-4" label="Sex" v-slot="{ ariaDescribedby }">
        {% for sex in user_sex %}
        <b-form-radio v-model="formModify.sex" :aria-describedby="ariaDescribedby" name="sex" value="{% trans sex.0 %}"
            required>{% trans sex.1 %}</b-form-radio>
        {% endfor %}
    </b-form-group>


    <b-button type="submit" variant="primary">Submit</b-button>
    <b-button type="reset" variant="danger">Reset</b-button>
</b-form>

{% endblock %}

{% block vue_data %}
formModify: {
username:'',
sex: '',
style: '',
email:''
}


{% endblock %}


<script>
    {% block vue_methods %}
    onSubmitModify(evt){
        var data = {
            token: this.token, username: this.formModify.username
        };
        var data_email = { token: this.token, email: this.formModify.email };
        var data_style = { token: this.token, style: this.formModify.style };
        var data_sex = { token: this.token, sex: this.formModify.sex };
        this.postData("/gateway/authentication/changeemail/", data_email);
        this.postData("/gateway/authentication/changestyle/", data_style);
        this.postData("/gateway/authentication/changesex/", data_sex);
        this.postData("/gateway/authentication/modify/", data)
            .then(data => {
                this.getUser();
            })
            .catch(error => {
                this.showAlert("danger", 'Error: ' + error);
            });
    },
    {% endblock %}
</script>
{% block vue_after_getuser %}
formModify.username = this.user.username
formModify.sex = this.user.sex
{% endblock %}
