{% extends "decide/base.html" %}
{% load i18n static %}

{% block content %}
<b-row v-if="user != null">
    <b-col>
        You are already registered, return to the home page.
    </b-col>
</b-row>

<b-row v-if="user == null">
    <b-col>
        Welcome to Decide, i see that you want to be part of this community.
        Don't be afraid and register to start voting. The outcome of the vote depends on each grain of sand.
        Choose a username that represents you, your sex and your password. 
        You can also choose the colors of the page, the style. You can choose Normal or Night style, and if you have color blindness
        you can choose Tritanopia or Color blind style. If you aren't sure which one to choose, don't worry, you can change the style
        that you choose later.
    </b-col>
</b-row>
<b-row v-if="user == null">
    <b-col cols="6" class="text-center">
        <b-form @submit="onSubmitRegister">
            <b-form-group class="text-justify" label="{% trans " Username" %}" label-for="username">
                <b-form-input id="username" type="text" v-model="formSignIn.username" autocomplete="username"
                    required />
            </b-form-group>
            <b-form-group class="text-justify" label="{% trans " Sex" %}" label-for="sex">
                <b-form-radio name="sex" v-model="formSignIn.sex" value="M" required>Male</b-form-radio>
                <b-form-radio name="sex" v-model="formSignIn.sex" value="F" >Female</b-form-radio>
            </b-form-group>
            <b-form-group class="text-justify" label="{% trans " Style" %}" label-for="style" >
                <b-form-radio name="style" v-model="formSignIn.style" value="N" required>Normal</b-form-radio>
                <b-form-radio name="style" v-model="formSignIn.style" value="T">Tritanopia</b-form-radio>
                <b-form-radio name="style" v-model="formSignIn.style" value="O">Night</b-form-radio>
                <b-form-radio name="style" v-model="formSignIn.style" value="C">Color blind</b-form-radio>
            </b-form-group>   
            <b-form-group class="text-justify" label="{% trans " Password" %}" label-for="password">
                <b-form-input id="password" type="password" autocomplete="current-password"
                    v-model="formSignIn.password" required />
            </b-form-group>
            <b-button class="mt-3" type="submit" variant="primary" size="lg">
                {% trans "Sign in" %}</b-button>
        </b-form>
    </b-col>
</b-row>
{% endblock %}
    
{% block vue_data %}
formSignIn: {
    username: '',
    password: '',
    sex: '',
    style: ''
}
{% endblock %}

{% block vue_methods %}
onSubmitRegister(evt) {
    evt.preventDefault();
    this.postData("/gateway/authentication/register/", this.formSignIn)
    this.postData("/gateway/authentication/page-login/", this.formSignIn)
        .then(data => {
            document.cookie = 'decide=' + data.token + '; path=/; max-age=7200;';
            this.token = data.token;
            this.getUser();
            window.location.href='/';
            this.showAlert("info", 'User successfully created');
        })
        .catch(error => {
            this.showAlert("danger", 'Error: ' + error);
        });
},
{% endblock %}
