/* Barra de navegación */

.navbar-brand {
    font-size: x-large!important;
}

.dropdown-toggle {
    color: white!important;
    font-size: larger;
}

.dropdown-menu {
    background-color: whitesmoke!important;
    width: max-content;
    padding: unset;
    margin: unset;
}

.btn-white {
    font-size: large;
}

.radio-dalt {
    margin: unset!important;
    border-color: whitesmoke!important;
    text-align: left!important;
    font-size: larger;
}

.submit-dalt {
    font-size: larger;
    border-color: whitesmoke!important;
    margin: unset!important;
}


/* Votación */

.choice-question {
    width: 100%;
}

.choice-question label {
    width: 100%;
}

.choice-question label.active {
    background-color: #dc3545!important;
    border-color: #dc3545!important;
    color: white!important;
} 

.choice-question label.active:before {
    content:  "\2192"!important;
}

.choice-question label.active:after {
    content:  "\2190"!important;
}

p{
    font-size: large;
}

label{
    font-size: x-large;
}